<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="./static/data_visualization_style.css" />
  </head> 

  <body>
    <div id="header">
    </div>

    <div id="left">
        <iframe width=100% height=100% frameborder="0" scrolling="no" src="https://plot.ly/~Zhiwei_Liu/4.embed"></iframe>
    </div>

    <div id="right">
    </div>



  </body>
</html>

