<!DOCTYPE html> 
<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<link rel="stylesheet" 
  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">		
<link rel="stylesheet" href="pagestyle.css">
</head>
<body bgcolor="#A0C3E8">
		<th>
			<td>
			<div>
				<p id="title1">control and data</p>
				<p id="title2">ad-hoc and sensor networks group: 9</p>
			</div>
			</td>
			<td>
	            <iframe frameborder="no" width="600" height="350" src="https://plot.ly/~Zhiwei_Liu/6.embed"></iframe>
			</td>
			<td>
	            <iframe frameborder="no" width="600" height="350" src="https://plot.ly/~Zhiwei_Liu/8.embed"></iframe>
			</td>
		</th>
</body>
</html>
